---
layout: default
---

<h1>Command {{ page.title }}</h1>
<h5> Written by: {{ site.Author }} </h5>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  <h5>Can be used in dms: </h5>
    {% if page.isDM == true %}
      <h5 style="color:red;"> No </h5>
    {% include contact.html %}
      <h5 style="color:darkgreen;"> Yes </h5>
    {% endif %}

  <h5>Can be used by non Developers: </h5>
    {% if page.isDev == true %}
      <h5 style="color:red;"> No </h5>
    {% include contact.html %}
      <h5 style="color:darkgreen;"> Yes </h5>
    {% endif %}

  {{ content }}
</div>


<!-- style="color:red;"  style="color:rgba(255,0,0,0.5); -->