<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    <marquee behavior="scroll" direction="right"> {{site.scrolling_text}} </marquee>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/commands">Commands</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
    </nav>

    <div class="container">

      {{ content }}

    </div>
  
    <footer>
      <ul>
        <li><a href=" {{ site.Email }} "> Email Address </a></li>
        <li><a href=" {{ site.Twitter }} "> Twitter </a></li>
        <li><a href=" {{ site.Discord_server }} "> Support Server </a></li>
        <li><a href=" {{ site.Github_Profile }} "> Github Profile </a></li>
        <li><a href=" {{ site.Github_Organisation }} "> Github Organisation </a></li>
      </ul>
    </footer>
  </body>

</html>
