<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>

    <div class="container">

      {{ content }}

    </div>
  
    <footer>
    <ul>
      <li><a href= {{ page.Email }} > Email Address </a></li>
      <li><a href= {{ page.Twitter }} > Twitter </a></li>
      <li><a href= {{ page.Discord_server }} > Support Server </a></li>
      <li><a href= {{ page.Github_Profile }} > Github Profile </a></li>
      <li><a href= {{ page.Github_Organisation }} > Github Organisation </a></li>
    </ul>
    </footer>
  </body>

</html>